.fond{
    position: relative;
}

.fond video{
    width: 100%;
    height: 100%;

    object-fit:cover;
}

.fond .content {
    position: absolute;
    text-align: center;
    top:15%;
    left:25%;
    
}

tr {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

td, th {
    color: white;
    font-size: 20px;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

button{
    margin: 25px;
    padding: 25px;
}

table{

    border: #4B088A solid 2px;
    border-radius: 20px;
}

.content a span{
    color: white;
    font-size: 20px;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px; 
}